@import "../utils/colors.less";

body {
    background-color: @background-color;
    color: @font-color;
}


#root {
    width: 100%;
}

.wrap {
    display: flex;
    margin-top: 30px;
}

.app {
    padding: 0 50px;
}